<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>About</h4>
                <div class="hline-w"></div>
                <p>{{ site.data.site.about }}</p>
            </div>
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
              <h4>Contact Us</h4>
              <div class="hline-w"></div>
              <p>
                <a href="email:{{ site.data.site.email }}">{{ site.data.site.email }}</a>
              </p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->
