<div id="headerwrap">
    <div class="container">
        <div class="row">
              <div class="col-lg-8 col-lg-offset-2 himg desktop-only">
                  <img src="{{ "/assets/img/profile.png" | prepend: site.baseurl }}" class="img-responsive" style="width:50%;">
              </div>
              <div class="col-lg-8 col-lg-offset-2 himg mobile-only">
                  <img src="{{ "/assets/img/profile.png" | prepend: site.baseurl }}" class="img-responsive">
              </div>
              <div class="col-lg-8 col-lg-offset-2">
                <p class="titleA">TRAINING</p>
                <p class="titleB">BALLARAT</p>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
