---
---

$primary: #76cabd;

$secondary: #384452;
$link: #428bca;
$link_hover: #01b2fe;
$footer_heading: #ffffff;
$footer_content: #bfc9d3;

@import
        "bootstrap",
        "font-awesome",
        "style"
;
